<h3 class="ui center aligned icon header">
  <i class="circular comments icon green"></i>
  Say something
</h3>

<!--2 COL -->
<div class="ui two column grid">
  <!--12 WIDE COL -->
  <div class="twelve wide column">
        <div class="chatbox ui fluid raised card">
         <div class="content" id="messages">
      <div class="ui feed" id ="msg-container">

        <%= render @messages %>

        </div>
        </div>


       <div class="extra content">
         <%= form_for(@message, html:{class: "ui reply form", id: "form", role: "form"}, url:message_path, remote: true) do |f| %>
             <div class="field">
               <div class="ui fluid icon input ">
                  <%=f.text_field :body %>
                 <%= f.button '<i class="bordered inverted green edit icon "></i>'.html_safe %>
              </div>
             </div>
            <% end %>
       </div> <!--END extra-content -->

  </div> <!--END 12 WIDE COL -->
 </div> <!--END 2 COL -->


<!--4 WIDE COL -->
<div class="four wide column">

      <div class="ui inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
       </div>
      </div>

</div> <!--END 4 WIDE COL -->
