<h3 class="ui center aligned icon header">
  <i class="circular comments icon green"></i>
  Say something
</h3>

<!--2 COL -->
<div class="ui two column grid">
  <!--12 WIDE COL -->
  <div class="twelve wide column">
        <div class="chatbox ui fluid raised card">
         <div class="content">
      <div class="ui feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <strong class="green"> Elliot Fu </strong> wrote: Test Message
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Christian Rocha</a> signed up for the  site.
            </div>
          </div>
         </div>
        </div>
       </div>
       <div class="extra content">
         <form class="ui reply form">
           <div class="field">
             <div class="ui fluid icon input ">
                <input type="text" placeholder="Write a message">
               <i class="bordered inverted green edit icon "></i>
            </div>
           </div>

 </form>
       </div>
  </div> <!--END 12 WIDE COL -->
 </div> <!--END 2 COL -->


<!--4 WIDE COL -->
<div class="four wide column">

      <div class="ui inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
       </div>
      </div>

</div> <!--END 4 WIDE COL -->
