<!--NAV-->
<div class="ui large inverted stackable menu">
  <div class="ui container">
  <%= link_to "Chatroom", root_path, class: "green item" %>
  <a class="green item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "green item" %>
      <% else %>
      <%= link_to "Login", login_path, class: "green item" %>
        <a class="green item">Sign up</a>
        <% end %>
      </div>
    </div>
    <% if !logged_in? %>
    <div class="item">
      <%= link_to "Login", login_path, class: "ui inverted green basic button" %>
    </div>
    <% end %>
  </div>
</div> <!--END Nav Container -->
</div>
