<!--NAV-->
<div class="ui large inverted stackable menu">
  <div class="ui container">
  <a class="green active item">
    Chatroom
  </a>
  <a class="green item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <a class="green item">Log out</a>
        <a class="green item">Log in</a>
        <a class="green item">Sign up</a>
      </div>
    </div>
    <div class="item">
        <div class="ui inverted green basic button">Sign Up</div>
    </div>
  </div>
</div> <!--END Nav Container -->
</div>
